body {
    background-image: url(/imagens/Handibol.png);
    background-repeat: no-repeat;
    background-size: cover;
}
p {
    font-size: 14px;
    font-family: Roboto;
}
h1{
    color: #121211;
    text-align: center;
    font-size: 24px;
    background-color: #f8f8f8bf;
    border: 2px solid #e5332ae6;
}
h2 {
    text-align: center;
}
h3 {
    background-color: #e5332ae6;
    color: #121211;
    font-size: 16px;
    border-radius: 3px;
    height: 23px;
    padding-left: 3%;
}
button{
    background-color:#e5332ab4;
    border-color: #E5322A;
    font-family:cursive;
    position: absolute;
    margin-left: -48%;
    margin-top: 0.13%;
}
#fundo{
    text-align: center;
    background-color: #f8f8f8c5;
    border: 2px solid #e5332ae6;
    margin: 32.5px;
    margin-top: 2%;
    padding: 20px;
    width: 60%;
    margin-left: 17.5%;
}